name: Publish Crates Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

#on:
#  push:
#    tags:
#      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          cargo publish
          cd xyo-http;cargo publish;cd..;
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
